
.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.comfortaa {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.firstColor {
    color: #D91010;
}

.backgroundfirstColor {
    background-color: #D91010;
}

.secondColor {
    color: #575A89;
}

.greenColor {
  color: #08AC65;
}

span, h1, h2, h3, p {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.gradient {
  background: linear-gradient(
    to bottom,
    #151515, /* cor inicial */
    #0C0C0C 73%, /* cor intermediária a 73% */
    #000000 /* cor final */
  );
}
.gradient-left {
  background: linear-gradient(
    to left,
    #151515, /* cor inicial */
    #0C0C0C 73%, /* cor intermediária a 73% */
    #000000 /* cor final */
  );
}
.gradient-right {
  background: linear-gradient(
    to right,
    #151515, /* cor inicial */
    #0C0C0C 73%, /* cor intermediária a 73% */
    #000000 /* cor final */
  );
}