.btnSuccess {
    background-color: #D91010;
    width: 119px;
    height: 40px;
    border-radius: 100px;
}

.btnAbout {
    width: 170px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid white;
    background-color: black;
}